body,html {
    height: 100%;
    margin: 0;
}

.back_image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("r_p_s.png");
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1d0977;
    font-weight: bold;
    margin: 150px;
    height: 45%;
    width: 500px;
    border: 2px solid blue;
    border-radius: 7px;
    background-color: hwb(308 7% 7% / 0.938);
}

.sub_one {
    margin-bottom: 50px;
    padding-left: 70px;
}

.sub_one > div {
    display: flex;
}

.choose {
    margin: 0 auto;
}

.winner {
    padding: 10px;
    color: rgb(30, 4, 48);
}

.display,
.score_comp,
.score_player {
    color: black;
}

button {
    background-color: rgb(253, 253, 253);
    border: 2px solid blue;
    border-radius: 2px;
    color: black;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    box-shadow: 0 4px rgb(94, 87, 87);
}

button:hover {
    background-color: green;
}

button:active {
    background-color: green;
    box-shadow: 0 1px rgb(94, 87, 87);
    transform: translateY(4px);
}